.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.pexels.com/photos/694740/pexels-photo-694740.jpeg");
}

.banner-container {
  text-align: center;
  padding: 15% 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 62px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
