.nav-container {
  position: sticky;
  z-index: 3;
  top: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  background-color: #1b1b1b;
}
.navbar a {
  text-decoration: none;
}

.navbar-logo {
  justify-self: start;
  margin-left: 20px;
  color: #fff;
  margin-top: 4vh;
  cursor: pointer;
}

.seeCarrito {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 4vh;
  cursor: pointer;
  text-decoration: none;
}
